$banner-height: 380px;


.header-banner{
    
    min-height:$banner-height;
    text-align: center;
    position:relative;
    .captions{
        display:inline-block;
        margin:auto;
        background-color:rgba(0,0,0,0.3);
        width:auto;
        position:absolute;
        width:100%;
        height:$banner-height;
        top:0;
        left:0;
        padding-top:120px;
        .title{
            h1{
                color:#fff;
                text-transform: uppercase;
                font-size:50px;
                font-family: Raleway,sans-serif;
                font-weight:lighter;
            }
            h1:after{
                content:"";
                display:block;
                width:70px;
                height:5px;
                background-color:#efe002;
                margin:15px auto 0 auto;
            }                

        }
        .description{
            color:#fff;
        }
        .breadcrumbs{
            display:inline-block;
            padding:0;
            margin:0;
            li{
                font-weight:lighter;
                strong{
                    font-weight:lighter;
                }
                a:hover{
                    color:#999;
                }
            }
        }
    }
}

@media (min-width:$screen-xs-min) and (max-width:$screen-xs-max){
    .header-banner{
        .captions{
            .title{
                h1{
                    font-size:50px;
                }
            }
        }
    }
}

@media (min-width:$screen-xxs-min) and (max-width:$screen-xxs-max){
    .header-banner{
        min-height:300px;
        .captions{
            height:300px;
            padding-top:80px;

            .title{
                h1{
                    font-size:50px;
                }
            }
        }
    }
}
@media (max-width:$screen-xxxs-max){
    .header-banner{
        min-height:200px;
        .captions{
            padding-top:60px;
            padding-left:5px;
            text-align: left;
            height:200px;
            .title{
                h1{
                    font-size:35px;
                    display:block;
                    float:left;
                }
                h1:after{
                    float:left;
                    content:"";
                    display:block;
                    width:50px;
                    height:3px;
                    background-color:#efe002;
                    margin:5px auto 0 auto;
                    position:absolute;
                }
            }
        }
        .breadcrumbs{
            li{
                a{
                    font-size:16px;
                    font-weight:lighter;
                }
                strong{
                    font-size:16px;
                    font-weight:lighter;
                }
            }
        }
    }
}


