.header-banner{
    min-height:380px;
    .captions{
        .title{
            h1{
                color:#fff;
            }                

        }
        .description{
                color:#fff;
        }
    }
}

