.two-cols-img-text{
    .two-cols-left{
        .vc_column-inner{
            height:450px;
            background-size:cover;
            background-position: top right;
        }
    }
    
    position:relative;
    overflow:hidden;
    background-color:#000;
    .vc_column_container>.vc_column-inner{
        padding:0 !important;
    }
    .two-col-right{
        padding:30px 30px 15px 30px;
        color:#fff;
        margin-bottom:0 !important;

        h2{
            font-weight:lighter !important;
            font-size:28px;
            margin:10px 0 20px 10px;
        }
        ul{
            padding-left:25px;
            li{
                list-style-image: url('./img/check.png');
                font-size:16px;
                margin:10px 15px;
                line-height: 200%;
                padding-left:25px;
                max-width:420px;
            }
        }
    }
    
    .wpb_single_image img{
        position:absolute;
        left:0;
    }
}

@media (min-width:$screen-md-min) and (max-width:$screen-md-max){
    .two-cols-img-text{

        .two-col-right{
            padding:15px 10px 15px 15px;
            color:#fff;
            h2{
                font-size:20px;
                margin:15px 5px;
            }
            ul{
                padding-left:25px;
                li{
                    list-style-image: url('./img/check.png');
                    margin:5px;
                    line-height: 200%;
                    padding-left:15px;
                }
            }
        }
    }

}


@media (min-width:$screen-sm-min) and (max-width:$screen-sm-max){
    .two-cols-img-text{

        .two-col-right{
            padding:15px 10px 15px 15px;
            color:#fff;

            h2{
                font-size:20px;
                margin:10px 5px;
            }
            ul{
                padding-left:25px;
                li{
                    list-style-image: url('./img/check.png');
                    margin:5px;
                    padding-left:15px;
                    margin-bottom:0 !important;
                }
            }
        }
    }

}

@media (max-width:$screen-xs-max){
    .two-cols-img-text{
        .wpb_single_image img{
             width:100%;
             background-color:#000;
             opacity: 0.5;
        }
        .two-col-right{
            padding:0px 10px 35px 15px;
            color:#fff;
            margin-top:-20px;
            h2{
                font-size:20px;
                margin:0px 5px;
            }
            ul{
                padding-left:25px;
                li{
                    list-style-image: url('./img/check.png');
                    margin:5px;
                    padding-left:15px;
                    margin-bottom:0 !important;
                }
            }
        }
    }
    
    
    .two-cols-right.wpb_column.vc_column_container.vc_col-sm-6 {
        position: absolute;
        top: 0;
        z-index: 10;
        background-color: rgba(0,0,0,0.2);
        height: 100%;
        padding-top:90px;
    }
}

@media (max-width:$screen-xxs-max){
    .two-cols-img-text{
        .wpb_single_image img{
             width:100%;
        }
        .two-col-right{
            padding:0px 5px 15px 5px;
            color:#fff;
            margin-top:-45px;
            h2{
                font-size:20px;
                margin:0px 5px;
            }
            ul{
                padding-left:25px;
                li{
                    list-style-image: url('./img/check.png');
                    font-size:14px;
                    line-height:190%;
                    margin:5px;
                    padding-left:15px;
                    margin-bottom:0 !important;
                }
            }
        }
    }
    
    .two-cols-right.wpb_column.vc_column_container.vc_col-sm-6 {
        position: absolute;
        top: 0;
        z-index: 10;
        background-color: rgba(0,0,0,0.2);
        height: 100%;
        padding-top:90px;
    }
}