.experience{
    padding:50px 0;
    background-color:#fef026;
    text-align: center;
    font-size:20px;
    p{
        max-width:1000px;
        margin:auto;
    }
}

.hbt-button{
    border:2px solid #fff;
    display:inline-block !important;
    margin:auto;
    .vc_btn3.vc_btn3-size-md{
        font-size:20px !important; 
    }
}
.experience-button{
    .vc_btn3.vc_btn3-size-md{
        :hover{
            background-color:#fef026;
            border-color:#000 !important;  
        }
    }
}

@media (max-width:$screen-xs-max){
    .experience{
        padding:30px 15px 15px;
        font-size:16px;
    }
    
    .hbt-button{
        border:2px solid #fff;
        display:inline-block !important;
        margin:auto;
        .vc_btn3.vc_btn3-size-md{
            font-size:16px !important; 
            padding:8px 10px;
        }
    }
}