/* Overwrite bootstrap css */
.navbar-default{
    background-image:none !important;
    border-radius: 0 !important;
    border:none;
    box-shadow: none;
    -webkit-box-shadow:none;
    background-color:#fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color:#fff;
    background-image:none;
    box-shadow:none;
}
/* End of bootstrap css Overwrite  */

.nav-container{
    .logo-wrapper{
        padding:10px 0;
    }
    .search-wrapper{
        .search-icon{
            margin-top:15px;
        }
        form.search-form{
            position:absolute;
            right:0;
            span.screen-reader-text{
                display:none;
            }
            input.search-submit{
                float:right;
            }
            border:1px solid #eee;
            padding:15px;
            box-shadow: inset 0 3px 9px rgba(0,0,0,.075);;
            -webkit-box-shadow:inset 0 3px 9px rgba(0,0,0,.075);
        }
    }
    
    .nav-wrapper{
        .navbar {
            margin-right:-30px;
            #menu-header-menu{
                li.menu-item{
                    padding-top:23px;
                    a{
                        position:reative;
                        width:100%;
                        height:100%;
                        display:block;
                        text-align: center;
                        font-size:18px;
                        &::after{
                            content:url('./img/dots.png');
                            display:block;
                            margin:auto;
                            position:absolute;
                            bottom:0;
                            left:0;
                            right:0;
                            width:0;
                            overflow:hidden;
                            @include transition(all 0.8s ease);
                        }
                        &:hover:after{
                            display:block;
                            width:20px;
                            
                        }
                    }
                    &.active{
                        a:after{
                             display:block;
                             width:20px;
                        }
                    }
                }
            }
        }
    }
}



@media (min-width:$screen-xs-min) and (max-width:$screen-xs-max){
    .logo-wrapper{
        position:absolute;
        left:15px;
        z-index:11;
    }
    
    .nav-container{
        height:100px;
        button.navbar-toggle{
            right:10px;
            top:25px;
        }
    }
    .nav-wrapper{
        width:100%;
        text-align: center;
        ul.pull-right{
            float:none !important;
            margin-left:-15px;
            
        }
    }
    
    div#bs-example-navbar-collapse-1 {
        position: absolute;
        width: 100%;
        z-index: 999999;
        left: 0;
        top: 100px;
        background-color: #fff;
    }
}

@media (min-width:$screen-xxs-min) and (max-width:$screen-xxs-max){

   .logo-wrapper{
        position:absolute;
        left:15px;
        z-index:11;
    }

    .nav-wrapper{
        width:100%;
        text-align: center;
        ul.pull-right{
            float:none !important;
            margin-left:-15px;
            
        }
    }

    .nav-container{
        height:80px;
        button.navbar-toggle{
            right:10px;
            top:15px;
        }
    }
    
    div#bs-example-navbar-collapse-1 {
        position: absolute;
        width: 100%;
        z-index: 999999;
        left: 0;
        top: 80px;
        background-color: #fff;
    }
    
    .navbar-default .navbar-toggle{
        background-color:#fff;
    }

}


@media (max-width:$screen-xxxs-max){

   .logo-wrapper{
        position:absolute;
        left:15px;
        z-index:11;
    }
    
    .nav-wrapper{
        width:100%;
        text-align: center;
        ul.pull-right{
            float:none !important;
            margin-left:-15px;
            
        }
    }
    
    .nav-container{
        height:68px;
        button.navbar-toggle{
            right:10px;
            top:7px;
        }
    }
    
    div#bs-example-navbar-collapse-1 {
        position: absolute;
        width: 100%;
        z-index: 999999;
        left: 0;
        top: 60px;
        background-color: #fff;
    }

}