.rev_slider{
    .tp-caption.black, .black {
        color: #fff;
        text-shadow: none;
    }

    .captions{
        width:45%;
        min-width:300px;
        background-color: rgba(0, 0, 0, 0.1);
        padding:15px;
        p{
            width:100%;
            display:block;
            white-space: pre-line;
            line-height: 200% !important;
            font-size:25px !important;
        }
    }
}

@media  (min-width:$screen-sm-min) and (max-width:$screen-sm-max){
    .rev_slider{
        .captions{
            width:500px;
            margin-left:130px;
            p{
                line-height: 32px !important;
                font-size:20px !important;
            }
        }
    }
}

@media  (min-width:$screen-xs-min) and (max-width:$screen-xs-max){
    .rev_slider{
        .captions{
            width:400px;
            margin-left:130px;
            p{
                line-height: 30px !important;
                font-size:20px !important;
            }
        }
    }
}

@media (max-width:$screen-xxs-max){
    .rev_slider{
        .captions{
            width:290px;
            margin-left:50px;
            p{
                line-height: 23px !important;
                font-size:15px !important;
            }
        }
    }
}